<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <div class="container-fluid index-main">
      <div>
        <h1 class="index-large-title">
          <strong> Bike for <br> Miami </strong>
          <h1>
          <h6 class="index-small-title">where users share their riding experiences</h6>
      </div>
    </div>

  </body>
</html>
<!-- <h1 class="welcome-text">
  squid= title squid
  <br>

</h1> -->
