<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike for Miami</title>
  </head>
  <body>
    <div class="container-fluid index-main">
      <div class="row">
        <div class="col-sm-4">
          <h1 class="index-large-title">
            <strong class="title-text"> Bike for <br> Miami </strong>
            <h1>
            <h6 class="index-small-title">where users share their riding experiences</h6>
        </div>
        <div class="col-lg-8 hidden">
        </div>
      </div>
    </div>
  </body>
</html>
