<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/bootstrap/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">

    <link href="/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <body>

  <div class="container-fluid">

    <div class="row nav-bar">

      <div class="col-sm-5">
        <a class="logo" href="/">
          <img class="margin-logo" src="/images/logo2.png">
        </a>
      </div>

      <div class="col-lg-7 nav-bar">
        <a class="nav-link w-nav-link" href="/trails">Trails</a>
        <% if (!user) {%>
          <a class="nav-link w-nav-link" href="/login">Login</a>
        <% } else { %>
          <a class="nav-link w-nav-link" href="/logout">Logout</a>
        <% }  %>
      </div>
    </div>
  </div>

    <%- body -%>

      <div class="container-fluid footer">
        <img class="footer-icons" src="/images/fb-icon.png">
      </div>
      <script
        src="//code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
