body {
  margin: 0px;
  font: 14px Arial;
  background-color: white;

}

.main-div {
  background-color: rgba(0, 0, 0 , 0.57);
  padding: 20px;
}
/*------------------------------------*/

/*navigation bar and footer*/
a {
  text-decoration: none;
}

.nav-bar {
  background-color: #fff;
}

.logo {
  width: 100px;
  margin-left: 120px;
  margin-top: 13px;
}

.margin-logo {
  margin-top: 13px;
}

.w-nav-menu {
  display: inline;
  float: right;
  margin-right: 150px;
  margin-top: 12px;
}

.w-nav-link {
  padding: 20px;
  text-decoration: none;
}

.nav-link {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #5c5c5c;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.nav-link:hover {
  border-bottom-color: #ff5749;
}

.nav-link.w--current {
  border-bottom-color: #ff5749;
  color: #ff5749;
}

.footer {
  background-color: #ff5749;
  /*position: absolute;*/
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-icons {
  float: right;
  margin-right: 30px;
  height: 40px;
}
/*---------------------------------------*/
/*landing-page*/
.index-main {
  height: 575px;
  background-image: url(/images/trail2.jpg);
}


.index-large-title {
  /*text-align: center;*/
  color: white;
  margin-top: 170px;
  font-size: 64px;
}

.index-small-title {
  /*text-align: center;*/
  color: white;
  font-size: 20px;
}

.title-text  {
  color: #ff5749;
  /*margin-left: 50px;*/
}

/*-------------------------------------*/
/*choose trail page*/
/*Google Map Api*/
#map {
  margin-top: 30px;
  height: 500px;
  width: 500px;
  border: 3px inset #032506;
}

.scroll-box {
  height: 500px;
  width: 500px;
  margin-top: 30px;
  margin-left: 40px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.56);
}

/*-----------------------------------*/
/*background for all other pages besides main*/
.trail-index-background-image {
  height: 575px;
  background-image: url(/images/bike-trail-bg3.jpg);
}

/*individual trail pages*/
.trail-margin-top {
  margin-top: 20px;
}

.trail-margin-top ~ li {
  margin-left: 20px;
}

.image-size-restriction {
  max-height: 200px;
  margin-bottom: 20px;
}

.map-height {
  max-height: 400px;
}

.upload-picture-stuff {
  background-color: #ff5749;
}
/*--------------------------------------*/

#form {
  margin: 30px auto;
  width: 380px;
}

#form label {
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error {
  background: #da0b0b;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.login-buttons {
  height: 47px;
}
