body {
  margin: 0px;
  font: 14px Arial;
  background-color: white;

}

ul {
  list-style-type: none;
}

/*------------------------------------*/

/*navigation bar and footer*/
a {
  text-decoration: none;
}

.nav-bar {
  background-color: #fff;
}

.logo {
  width: 100px;
  margin-left: 120px;
  margin-top: 13px;
}

.margin-logo {
  margin-top: 13px;
}

.w-nav-menu {
  display: inline;
  float: right;
  margin-right: 150px;
  margin-top: 12px;
}

.w-nav-link {
  padding: 20px;
  text-decoration: none;
}

.nav-link {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #5c5c5c;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.nav-link:hover {
  border-bottom-color: #ff5749;
}

.nav-link.w--current {
  border-bottom-color: #ff5749;
  color: #ff5749;
}

.footer {
  background-color: #ff5749;
  /*position: absolute;*/
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-icons {
  float: right;
  margin-right: 30px;
  height: 40px;
}
/*---------------------------------------*/
/*landing-page*/
.index-main {
  height: 575px;
  background-image: url(/images/trail2.jpg);
}


.index-large-title {
  /*text-align: center;*/
  color: white;
  margin-top: 170px;
  font-size: 64px;
}

.index-small-title {
  /*text-align: center;*/
  color: white;
  font-size: 20px;
}

.title-text  {
  color: #ff5749;
  /*margin-left: 50px;*/
}

/*-------------------------------------*/
/*choose trail page*/
/*Google Map Api*/
#map {
  margin-top: 30px;
  margin-left: 10px;
  height: 500px;
  width: 500px;
  border: 3px solid white;
  color: black;
}

.scroll-box {
  height: 500px;
  width: 500px;
  margin-top: 30px;
  margin-left: 40px;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.56);
}

.select-trail {
  color: rgba(255, 255, 255, 0.79);
}

/*-----------------------------------*/
/*background for all other pages besides main*/
.trail-index-background-image {
  height: 575px;
  background-image: url(/images/bike-trail-bg3.jpg);
}

.change-text {
  color: rgba(255, 255, 255, 0.79);
}

/*individual trail pages*/
.park-name {
  text-align: center;
  color: rgba(255, 255, 255, 0.79);
}
.trail-margin-top {
  margin-top: 20px;
}

.white-text {
  color: rgba(255, 255, 255, 0.79);
}

.trail-margin-top ~ li {
  margin-left: 20px;
}

.image-size-restriction {
  max-height: 200px;
  margin-bottom: 20px;
}

.map-height {
  max-height: 350px;
  border: 4px solid white;
}

.trail-description {
  margin-top: 29px;
  padding-left: 39px;
  padding-right: 58px;
  color: rgba(255, 255, 255, 0.79);
}

.upload-picture-stuff {
  background-color: #ff5749;
}

.div-top-border {
  border-top: 10px solid #ff5749;
  padding-top: 10px;
}
/*--------------------------------------*/
.main-div {
  background-color: rgba(0, 0, 0 , 0.57);
  padding: 20px;
  margin: 30px auto;
  width: 380px;
}


#form label {
  /*color: white;*/
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  /*color: #fff;*/
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: .3s ease background;
}

.error {
  background: #da0b0b;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.login-buttons {
  width: 380px;
}


/*----------------------*/
.form-main{
  padding: 20px;
}
.form-body{
    background:rgba(0, 0 ,0, 0.48);
    width: 80%;
    padding:20px;
    color: white;
}
.login-form{
    background:rgba(255,255,255,0.8);
	padding:20px;
	border-top:3px solid#3e4043;
}
.innter-form{
	padding-top:20px;
}
.final-login li{
	width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
	color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #ff5749;
    border: none !important;
    border-bottom-color: transparent;
	border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
	text-transform:uppercase;
	font-size:16px;
}

.social-login{
	text-align:center;
	font-size:12px;
}
.social-login p{
	margin:15px 0;
}
.social-login ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.social-login ul li{
	width:33%;
	float:left;
    clear:fix;
}
.social-login ul li a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
	display:block;
}
.social-login ul li:nth-child(1) a{
	background:#3b5998;
}
.social-login ul li:nth-child(2) a{
	background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
	background:#3698d9;
}
.sa-innate-form input[type=text], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
	padding:10px;
	border:1px solid#ccc;
	outline:none;
	width:100%;
	margin:8px 0;

}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
	background:#e64b3b;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form input[type=submit]:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}

	.sa-innate-form button{
	border:1px solid#ff5749;
	background:#ff5749;
	color:#fff;
	padding:10px 25px;
	font-size:14px;
	margin-top:5px;
	}
	.sa-innate-form button:hover{
	border:1px solid#db3b2b;
	background:#db3b2b;
	color:#fff;
	}
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }
