<title>Trail Index</title>

<div class="container-fluid trail-index-background-image">
  <div class="row">
    <div class="col-md-6">
      <div class="scroll-box">
        <ul>
          <% trails.forEach((oneTrail) => { %>
          <li>
            <h2> <a href="/trails/<%=oneTrail._id %>"><%= oneTrail.trailName %></a> </h2>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>

    <!-- this div holds a map  -->
    <div class="col-md-6" id="map">
    </div>

  </div>
</div>

<script>
// This example displays a marker at the center of Australia.
// When the user clicks the marker, an info window opens.

function initMap() {
  var uluru = {lat: 25.715894, lng: -80.150372};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    center: uluru,
    mapTypeId: 'satellite'
  });

  var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h3 id="firstHeading" class="firstHeading">Bear Cut Preserve</h3>'+
      '<div id="bodyContent">'+
      '<p><a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
      'Details</a></p>'+
      '</div>'+
      '</div>';

  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });

  var marker = new google.maps.Marker({
    position: uluru,
    map: map,
    title: 'Uluru (Ayers Rock)'
  });
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8Br_ROcCdgQw8R6zhnXBf0T1yDBCa3iQ&callback=initMap"
   async defer></script>

<!-- <iframe src="https://www.w3schools.com">
  <p>Your browser does not support iframes.</p>
</iframe> -->
