<title>Trail Index</title>
<ul>
  <% trails.forEach((oneTrail) => { %>
    <li>
      <h2> <a href="/trails/<%=oneTrail._id %>"><%= oneTrail.trailName %></a> </h2>
    </li>
  <% }) %>
</ul>


<iframe src="https://www.w3schools.com">
  <p>Your browser does not support iframes.</p>
</iframe>
