<title><%= trail.trailName %></title>
<ul>
    <li>
      <h2> <%= trail.trailName %> </h2>
      <p> <%= trail.trailLength %> </p>
      <img src="<%= trail.trailMap %>">
    </li>
</ul>


<h1> Add New Picture </h1>

<!-- tried "/trails/:id" -->
<!-- "/trails/squid=oneTrail._id squid" -->
<!-- "/trails._id" -->
<form action="/trails" method="post" enctype="multipart/form-data">

  <div>
    <label for="picture-input"> Picture </label>
    <input id="picture-input" type="file" name="picture">
  </div>

  <button> Add Picture </button>
</form>
