<ul>
    <li>
      <h2> <%= trail.trailName %> </h2>
      <p> <%= trail.trailLength %> </p>
      <img src="<%= trail.trailMap %>">
    </li>
</ul>
      <!-- <a href="/products/squid=product._id squid/reviews/new">
        Review this product
      </a>
    </br> -->
      <!-- Will send people to page based on product id -->
        <h2> Rider Notes </h2>
        <!-- <ul>
            squid product.reviews.forEach((oneReview) => { squid
          <li>
            <p>squid= oneReview.content squid</p>
            <p>squid= oneReview.email squid</p>
          </li>
          squid  }); squid
        </ul> -->
